/* The Following CSS Styles are for Whole Web Page. */

.body {
  background-color: black;
}

.btn-primary {
  height: auto;
  width: auto;
  color: rgb(255, 255, 255);
  background-color: #ff5400;
  border: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* The Following CSS Styles are for Nav Bar Design */

.nav-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 6rem;
  margin-right: 6rem;
}

.nav-title {
  color: orangered;
  font-family: Inter;
  font-size: 2.3rem;
  font-weight: 800;
}

.nav-links {
  font-family: Mulish;
  font-size: 1.2rem;
  list-style: none;
  display: flex;
  align-items: center;
  gap: 2.2rem;
  border: 1px solid gray;
  padding: 0.6rem 1rem;
  border-radius: 1.9rem;
}

.nav-links li a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.btn-home {
  padding: 0.2rem 0.6rem;
  border-radius: 2.3rem;
  font-weight: 600;
}

.hamburger {
  display: none;
}

/* The Following CSS Styles are for Mobile Design */

@media screen and (max-width: 576px) {
  .nav-main {
    margin-left: 1.3rem;
    margin-right: 1.3rem;
  }

  .nav-links {
    display: none;
  }

  .hamburger {
    display: flex;
  }
}
