/* The Following CSS Styles are for Whole Web Page. */

.body {
  background-color: black;
  font-family: "Mulish", sans-serif;
  margin-left: 6rem;
  margin-right: 6rem;
}

.btn-primary {
  height: auto;
  width: auto;
  border: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* The Following CSS Styles are for Nav Bar Design */

.nav-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-title {
  color: orangered;
  font-family: "Inter", sans-serif;
  font-size: 2.3rem;
  font-weight: 800;
}

.nav-links {
  font-size: 1.2rem;
  list-style: none;
  display: flex;
  align-items: center;
  gap: 2.2rem;
  border: 1px solid gray;
  padding: 0.6rem 1rem;
  border-radius: 1.9rem;
}

.nav-links li a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.btn-home {
  background-color: #ff5400;
  padding: 0.2rem 0.6rem;
  border-radius: 2.3rem;
  font-weight: 600;
}

.hamburger {
  display: none;
}

/* The Following CSS Styles are for Banner Section */

.banner-main {
  display: flex;
  gap: 2rem;
  justify-content: space-around;
}

.banner-title {
  color: rgb(255, 255, 255);
  font-size: 5rem;
  font-weight: 900;
}

.shape {
  font-family: "Great Vibes", cursive;
}

.banner-description {
  color: rgba(255, 255, 255, 0.5);
  font-size: 1.2rem;
}

.banner-btn {
  display: flex;
  gap: 1rem;
}
.btn-join {
  color: rgb(255, 255, 255);
  background-color: #ff5400;
  padding: 0.4rem 1.5rem;
  border-radius: 2.3rem;
  font-size: 1.2rem;
  line-height: 1.4rem;
}

.btn-download {
  color: rgb(255, 255, 255);
  background-color: black;
  padding: 0.4rem 1.5rem;
  border: 1px solid white;
  border-radius: 2.3rem;
  font-size: 1.2rem;
}

/* The Following CSS Styles are for Mobile Design */

@media screen and (max-width: 576px) {
  .body {
    margin-left: 1.3rem;
    margin-right: 1.3rem;
  }

  .nav-links {
    display: none;
  }

  .hamburger {
    display: flex;
  }

  .banner-main {
    flex-direction: column;
  }

  .banner-title {
    font-size: 2rem;
  }

  .banner-description {
    font-size: 1rem;
  }

  .btn-join {
    padding: 0.2rem 1rem;
    font-size: 1rem;
  }

  .btn-download {
    padding: 0.2rem 1rem;
    font-size: 1rem;
  }
}
